<div class="row">

<div class="col-lg-4">
 <h2>Node Info</h2>
 <ul class="list-group">
  <li class="list-group-item active">
     Version
     <span class="float-right">{{version}}</span>
  </li>
  <li class="list-group-item active">
     Current Block
     <span class="float-right">{{currentBlock}}</span>
  </li>
  <li class="list-group-item active">
    Unchecked Blocks
    <span class="float-right">{{uncheckedBlocks}}</span>
  </li>
  <li class="list-group-item active">
    Peers
    <span class="float-right">{{numPeers}}</span>
  </li>
 </ul>
</div>  


<div class="col-lg-4">
 <h2>Node Account Info</h2>    
 <ul class="list-group">
  <li class="list-group-item active">
     Address
     <span class="float-right"><a href="https://www.nanode.co/account/{{nanoNodeAccount}}" target="_blank" class="truncate">{{nanoNodeAccount}}</a></span>
  </li> 
  <li class="list-group-item active">
     Balance
     <span class="float-right">{{accBalanceMnano}} Nano</span>
  </li>
  <li class="list-group-item active">
    Representative
    <span class="float-right"><a href="https://www.nanode.co/account/{{repAccount}}" target="_blank" class="truncate">{{repAccount}}</a></span>
  </li>
  <li class="list-group-item active">
    Voting Weight
    <span class="float-right">{{votingWeight}} Nano</span>
  </li>
 </ul>
</div> 



<div class="col-lg-4">
 <h2>System Info</h2>    
 <ul class="list-group">
  <li class="list-group-item active">
     Hostname
     <span class="float-right">{{nanoNodeName}}</span>
  </li> 
  <li class="list-group-item active">
     Uptime
     <span class="float-right">{{systemUptime}}</span>
  </li> 
  <li class="list-group-item active">
     Load
     <span class="float-right">{{systemLoad}}</span>
  </li>
  <li class="list-group-item active">
    Memory Usage
    <span class="float-right">{{usedMem}} / {{totalMem}} MB</span>
  </li>  
 </ul>
</div>  


</div>