<h2>Node Info</h2>

<div class="row">


    <div class="col-lg-3">
        <div class="card text-white bg-primary mb-3">
        <div class="card-header">Version</div>
        <div class="card-body">
            <h4 class="card-title">{{version}}</h4>
        </div>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="card text-white bg-primary mb-3">
        <div class="card-header">Current Block</div>
        <div class="card-body">
            <h4 class="card-title">{{currentBlock}}</h4>
        </div>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="card text-white bg-primary mb-3">
        <div class="card-header">Number of Unchecked Blocks</div>
        <div class="card-body">
            <h4 class="card-title">{{uncheckedBlocks}}</h4>
        </div>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="card text-white bg-primary mb-3">
        <div class="card-header">Number of Peers</div>
        <div class="card-body">
            <h4 class="card-title">{{numPeers}}</h4>
        </div>
        </div>
    </div>

</div>

<h2>Node Account Info</h2>

<div class="row">

    <div class="col-lg-6">
        <div class="card text-white bg-primary mb-3">
        <div class="card-header">Address</div>
        <div class="card-body">
            <a href="https://www.nanode.co/account/{{nanoNodeAccount}}" target="_blank">{{nanoNodeAccount}}</a>
        </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="card text-white bg-primary mb-3">
        <div class="card-header">Representative</div>
        <div class="card-body">
            <a href="https://www.nanode.co/account/{{repAccount}}" target="_blank">{{repAccount}}</a>
        </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="card text-white bg-primary mb-3">
        <div class="card-header">Balance</div>
        <div class="card-body">
            <h4 class="card-title">{{accBalanceMnano}} Nano</h4>
            <h6 class="card-subtitle mb-2 text-muted">{{accPendingMnano}} Nano pending</h6>
        </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="card text-white bg-primary mb-3">
        <div class="card-header">Voting Weight</div>
        <div class="card-body">
            <h4 class="card-title">{{votingWeight}} Nano</h4>
        </div>
        </div>
    </div>

</div>

<h2>System Info</h2>

<div class="row">

    <div class="col-lg-4">
        <div class="card text-white bg-primary mb-3">
        <div class="card-header">System Uptime</div>
        <div class="card-body">
            <h4 class="card-title">{{systemUptime}}</h4>
        </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="card text-white bg-primary mb-3">
        <div class="card-header">System Load</div>
        <div class="card-body">
            <h4 class="card-title">{{systemLoad}}</h4>
        </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="card text-white bg-primary mb-3">
        <div class="card-header">Memory Usage</div>
        <div class="card-body">
            <h4 class="card-title">{{usedMem}} / {{totalMem}} MB</h4>
        </div>
        </div>
    </div>

</div>